@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f6f8ff;
  padding: 3.1rem 2.4rem;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.lower-wrap {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.info-div {
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
}

.avatar-div {
  display: block;
}

@media only screen and (min-width: 48rem) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .lower-wrap {
    flex-direction: row;
    gap: 6.5rem;
  }

  .info-div {
    gap: 3.2rem;
  }
}
